@model IEnumerable<WebVL.Models.ShoppingCart>

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kh = (WebVL.Models.ApplicationUser)Session["Taikhoan"];
}


<div class="page-top-info">
    <div class="container">
        <h4>Giỏ hàng</h4>
        <div class="site-pagination">
            <a href="">Trang chủ</a> /
            <a href="">Giỏ hàng</a>
        </div>
    </div>
</div>
<!-- Page info end -->
<!-- checkout section  -->
<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <form class="checkout-form" action="Payment" method="post">
                    <div class="cf-title">Thông tin người nhận</div>    
                    <h5 style="color:red">@TempData["Thongbao"]</h5>
                    <br />
                        <div class="row address-inputs">
                            <div class="col-md-12">
                                <input type="text" placeholder="Họ và tên (*)" value="@kh.Name" name="Name" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Địa chỉ (*)" value="@kh.Address" name="Address" />
                            </div>
                            <div class="col-md-12">
                                <input type="text" placeholder="Email (*)" value="@kh.Email" name="Email" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Zipcode (*)" value="@kh.Postcode" name="Zipcode" />
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Phone no. (*)" value="@kh.PhoneNumber" name="Phone" />
                            </div>
                        </div>
                    <div class="cf-title">Phương thức giao hàng</div>
                    <div class="row shipping-btns">
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-1">
                                    <label for="ship-1">Giao hàng tại nhà</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-2">
                                    <label for="ship-2">Nhận hàng tại cửa hàng</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cf-title">Thanh toán</div>
                    <div class="row shipping-btns">
                        <ul class="payment-list">

                            <li>
                                Paypal <a href="@Url.Action("PaymentWithPaypal","Paypal")"><img style="height:50px;" src="~/img/paypal.png" /></a>
                            </li>
                            @if (ViewBag.Total <= 20000000)
                            {

                                <li>
                                    Momo <a href="@Url.Action("PayMomo", "Shopping")"><img style="height:80px" src="~/img/mm.png" /></a>
                                </li>
                            }
                            <li>
                                <div class="cf-radio-btns">
                                    <div class="cfr-item">
                                        <input type="radio" name="payment" id="2">
                                        <label for="2">Thanh toán khi nhận hàng</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="site-btn submit-order-btn"> <a style="color:white" href="@Url.Action("Payment", "Shopping")">Xác nhận mua ngay </a>  </button>
                </form>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Giỏ hàng</h3>
                    <ul class="product-list">
                        @foreach (var item in Model)
                         {
                            <li>
                                <div class="pl-thumb"><img src="~/img/product/@item.Img" alt=""></div>
                                <h6>@item.Name</h6>
                                <p>@String.Format("{0:0,0 vnđ}", item.Price)</p>
                            </li>
                         }

                    </ul>
                    <ul class="price-list">
                        <li>Tổng<span>@String.Format("{0:0,0 vnđ}", ViewBag.Total)</span></li>
                        <li>Phí giao hàng<span>Miễn phí giao hàng</span></li>
                        <li class="total">Tổng tiền: <span>@String.Format("{0:0,0 vnđ}", ViewBag.Total)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

