@model IEnumerable<WebVL.Models.ShoppingCart>

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var kh = (WebVL.Models.ApplicationUser)Session["Taikhoan"];
}


<div class="page-top-info">
    <div class="container">
        <h4>Giỏ hàng</h4>
        <div class="site-pagination">
            <a href="">Trang chủ</a> /
            <a href="">Giỏ hàng</a>
        </div>
    </div>
</div>

<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-lg-1">
                <form class="checkout-form">
                    <div class="cf-title">Địa chỉ giao hàng</div>
                    <div class="row">
                        <div class="col-md-7">
                            <p>Thông tin người mua</p>
                        </div>
                    </div>
                    <div class="row address-inputs">
                        <div class="col-md-12">
                            <input type="text" placeholder="Họ và tên" value="@kh.Name" />
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="Địa chỉ" value="@kh.Address">
                        </div>
                        <div class="col-md-12">
                            <input type="text" placeholder="Email" value="@kh.Email">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Zipcode" value="@kh.Postcode">
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Phone no." value="@kh.PhoneNumber">
                        </div>
                    </div>
                    <div class="cf-title">Phương thức giao hàng</div>
                    <div class="row shipping-btns">
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-1">
                                    <label for="ship-1">Nhận hàng tại cửa hàng</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                        </div>
                        <div class="col-6">
                            <div class="cf-radio-btns">
                                <div class="cfr-item">
                                    <input type="radio" name="shipping" id="ship-2">
                                    <label for="ship-2">Giao hàng tận nơi</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cf-title">Thanh toán</div>
                        <div class="row shipping-btns">
                            <ul class="payment-list">

                                <li>
                                    <div class="cf-radio-btns">
                                        <div class="cfr-item">
                                            <input type="radio" name="payment" id="3">
                                            <label for="3">Paypal</label>
                                            <img src="" />
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="cf-radio-btns">
                                        <div class="cfr-item">
                                            <input type="radio" name="payment" id="1">
                                            <label for="1">Momo</label>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="cf-radio-btns">
                                        <div class="cfr-item">
                                            <input type="radio" name="payment" id="2">
                                            <label for="2">Thanh toán khi nhận hàng</label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button class="site-btn submit-order-btn">
                            @Html.ActionLink("Xác nhận đơn hàng", "Payment")  </button>
                     
</form>
            </div>
            <div class="col-lg-4 order-1 order-lg-2">
                <div class="checkout-cart">
                    <h3>Giỏ hàng</h3>
                    <ul class="product-list">
                        @foreach (var item in Model)
                         {
                            <li>
                                <div class="pl-thumb"><img src="~/img/product/@item.Img" alt=""></div>
                                <h6>@item.Name</h6>
                                <p>@item.Price</p>
                            </li>
                         }

                    </ul>
                    <ul class="price-list">
                        <li>Tổng<span>@ViewBag.Total</span></li>
                        <li>Phí giao hàng<span>miễn phí giao hàng</span></li>
                        <li class="total">Tổng tiền<span>@ViewBag.Total</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

