@model WebVL.Models.Order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div>
                <h3>Đơn Hàng</h3>
            </div>
        </div>
    </div>
</div>
<div class="main-card mb-3 card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h5 class="card-title">Chi Tiết Đơn Hàng</h5>
                <h3 style="color:red">Chắc xóa đơn hàng này không?</h3>
                <div class="main-card mb-3 card">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <dt>
                                @Html.DisplayNameFor(model => model.IdCus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.IdCus)
                            </dd>
                        </li>
                        
                        <li class="list-group-item">
                            <dt>
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Price)
                            </dd>
                        </li>
                        <li class="list-group-item">
                            <dt>
                                @Html.DisplayNameFor(model => model.Count)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Count)
                            </dd>
                        </li>
                        <li class="list-group-item">
                            <dt>
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                        </li>
                        <li class="list-group-item">
                            <dt>
                                @Html.DisplayNameFor(model => model.NameCus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NameCus)
                            </dd>
                        </li>
                        <li class="list-group-item">
                            <dt>
                                @Html.DisplayNameFor(model => model.DayBooks)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DayBooks)
                            </dd>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-10 col-md-2">
                    <input type="submit" value="Delete" class="btn btn-primary" />
                    <a class="btn btn-danger pull-right" style="color:white" href="https://localhost:44344/OrderSp">Back</a>
                </div>
                <div class="col-md-offset-5 col-md-2">

                </div>
            </div>
        }
            <script>
                // Example starter JavaScript for disabling form submissions if there are invalid fields
                (function () {
                    'use strict';
                    window.addEventListener('load', function () {
                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                        var forms = document.getElementsByClassName('needs-validation');
                        // Loop over them and prevent submission
                        var validation = Array.prototype.filter.call(forms, function (form) {
                            form.addEventListener('submit', function (event) {
                                if (form.checkValidity() === false) {
                                    event.preventDefault();
                                    event.stopPropagation();
                                }
                                form.classList.add('was-validated');
                            }, false);
                        });
                    }, false);
                })();
            </script>
        </div>
</div>