<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login VinLaptop Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="~/Admin/Login/images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/fonts/iconic/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/Admin/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Admin/Login/css/main.css">

</head>
<body>
    @using (Html.BeginForm("LoginAdmin", "AdHome", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Admin/Login/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-49">
                        VinLaptop Admin Login
                    </span>
                    @Html.ValidationSummary(true)

                    <div class="wrap-input100 validate-input m-b-23" data-validate="Yêu cầu nhập UserAdmin">
                        <span class="label-input100">UserAdmin</span>
                        <input class="input100" type="text" name="useradmin" placeholder="Type your UserAdmin">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="text-right p-b-10">
                        <h6 style="color:red; text-align:left">@ViewData["loi1"]</h6>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Yêu cầu nhập Password">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="passadmin" placeholder="Type your Password">

                        <span class="focus-input100" data-symbol="&#xf190;"></span>

                    </div>
                    <div class="text-right p-t-10">
                        <h6 style="color:red; text-align:left">@ViewData["loi2"]</h6>
                    </div>


                    <div class="text-right p-b-31">
                        <h6 style="color:red; text-align:center">@ViewBag.LoginFail</h6>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>


        <div id="dropDownSelect1"></div>


        <script src="vendor/jquery/jquery-3.2.1.min.js"></script>

        <script src="vendor/animsition/js/animsition.min.js"></script>

        <script src="vendor/bootstrap/js/popper.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

        <script src="vendor/select2/select2.min.js"></script>

        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>

        <script src="vendor/countdowntime/countdowntime.js"></script>

        <script src="js/main.js"></script>
    }
        @RenderBody()
    </body>
</html>