@model IEnumerable<WebVL.Models.Order>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Lịch sử mua hàng</h3>
<table class="table">
    <tr>
        <th>
            Họ tên
        </th>
        <th>
            Tống tiền
        </th>
        <th>
            Địa chỉ giao hàng
        </th>
        <th>
            Ngày đặt hàng
        </th>
        <th>
            Trạng thái
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCus)
            </td>
            <td>
                @String.Format("{0:0,0 vnđ}", @Html.DisplayFor(modelItem => item.Price))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayBooks)
            </td>
            @if (item.Status == 1)
            {
                <td>Đang giao hàng</td>
            }
            @if (item.Status == 2)
            {
                <td>Chưa giao hàng</td>
            }
            @if (item.Status == 3)
            {
                <td>Đã giao hàng</td>
            }
            <td>
                @Html.ActionLink("Chi tiết ", "Details", new { id = item.IdBill })
            </td>
        </tr>
    }

</table>