@model WebVL.Models.Statt

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@using (Html.BeginForm())
{
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <h3>Bài Viết</h3>
            </div>

        </div>
    </div>
    <div class="main-card mb-3 card">

        <div class="card-body">


            <h5 class="card-title">Sửa Thông Tin Bài Viết</h5>

            <form class="needs-validation" novalidate>
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Idpost)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Details,"Chi Tiết Bài Viết", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7 mb-3">
                            @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Daypost,"Ngày Đăng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7 mb-3">
                            @*<input type="datetime-local" value="@Model.Daypost" name="Daypost" />*@
                            @Html.EditorFor(model => model.Daypost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Daypost, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Postby,"Đăng Bởi", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7 mb-3">
                            @Html.EditorFor(model => model.Postby, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Postby, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.View,"Lượt Xem", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-7 mb-3">
                            @Html.EditorFor(model => model.View, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.View, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-10 col-md-2">
                            <input type="submit" value="Lưu" class="btn btn-primary" />
                            <a class="btn btn-danger pull-right" style="color:white" href="https://localhost:44344/Statt/Index">Hủy</a>
                        </div>
                        <div class="col-md-offset-5 col-md-2">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
}